@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* reset e padrões */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a {
    color: #000;
}

.buttonYellow {
    background-color: #FFCF26;
    width: 100%;
    height: 40px;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonYellow:hover {
    background-color: #B58E02;
}

.buttonGrey {
    background-color: #4a4a4a;
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonGrey:hover {
    background-color: #EAEFF5;
}

.material-icons {
    font-size: 3rem;
}

/* menu */

.menu {

    background-color: #0052FB;
    padding: 0.5rem 1rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-logo img {
    width: 200px;
    height: 200px;
}

.menu-navbar {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.menu-navbar-item a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 1.4rem 1rem 1.6rem;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    padding: 15px;
}

.subMenu {
    background: #404040;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 2rem;
    color: #fff;
}

/* container cursos em andamento */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerCursos {
    background: #DFDEDE;
    justify-content: center;
    height: 100vh;
}

.cursosAndamento {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 2rem;
}

.containerCursos h2 {
    margin-left: 2rem;
    padding: 1.5rem 0px;
}

.containerDestaque {
    width: 100%;
    justify-content: space-evenly;
    background: #fff;
}

.containerSecundario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardCursos {
    width: 44%;
    display: flex;
    background: #fff;
    margin: 5px;
    padding: 10px;
}

.cardCursos img {
    width: 80px;
}

.containerSuperior {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.containerInferior {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.containerText {
    display: flex;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: left;
}

.containerSuperior img {
    width: 200px;
}

.containerCursos h4 {
    margin-left: 2rem;
    padding: 1.5rem 0px;
}

/* container cursos recomendados */

.cursosRecomendados {
    margin: 1rem 2rem;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 200px;
    font-size: 12px;
    line-height: 18px;
    background-color: #4a4a4a;
    color: #fff;
}

.footer-copy {
    padding: 50px 20px;
    width: 50%;
}

.footer-container-links {
    padding: 50px 10px 20px 20px;
    width: 10%;
    display: flex;
}

.titulo_rodape {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*
.font-light {
    font-weight: lighter;
}

.font-normal {
    font-weight: normal;
}


@media(max-width:800px) {

    .hamburguer {

        display: block;
        position: relative;

    }

    .nav-toggle {
        padding: .5em;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1000;

    }

    .nav-open .nav {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .nav-open .nav-toggle {
        position: fixed;
    }

    .nav-open .hamburguer {
        transform: rotate(.625turn);
        -webkit-transform: rotate(.625turn);
        -moz-transform: rotate(.625turn);
        -ms-transform: rotate(.625turn);
        -o-transform: rotate(.625turn);
    }

    .nav-open .hamburguer::before {
        transform: rotate(90deg) translateX(-10px);
        -webkit-transform: rotate(90deg) translateX(-10px);
        -moz-transform: rotate(90deg) translateX(-10px);
        -ms-transform: rotate(90deg) translateX(-10px);
        -o-transform: rotate(90deg) translateX(-10px);
    }

    .nav-open .hamburguer::after {
        opacity: 0;
    }

    .hamburguer,
    .hamburguer::before,
    .hamburguer::after {
        content: '';
        background-color: white;
        width: 2em;
        height: 3px;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;

        transition: transform 250ms ease-in-out;
        -webkit-transition: transform 250ms ease-in-out;
        -moz-transition: transform 250ms ease-in-out;
        -ms-transition: transform 250ms ease-in-out;
        -o-transition: transform 250ms ease-in-out;

    }

    .hamburguer::before,
    .hamburguer::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;


    }

    .hamburguer::before {
        top: 10px;

    }

    .hamburguer::after {
        bottom: 10px;
    } 

    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(133, 132, 132, 0.9);

        z-index: 100;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .menu-navbar {
        flex-direction: column;
        margin: 0 auto;

    }

    .menu-navbar-item {
        margin: 15px;
    }

    .menu-navbar-item a {
        font-size: 1.5em;

    }

    #cadastro a {
        font-size: 1.5em;
        margin: 30px;
    }
}
*/