#navbar {
    position: relative;
    background-color: #0052FB;
    padding: 0.5rem 1rem;
    border-bottom-style: solid;
    border-bottom-color:#f5f7fa;
    border-bottom-width: thin;
  }

#navbar .navbar-nav > li> a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0;
    padding: 1.4rem 1rem 1.6rem;
    color: #555;
    letter-spacing: 0.1em;
    font-family: Inter,serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    border-top: .3rem solid transparent;

}

#navbar .navbar-brand > img {
    object-fit: cover;
    width: 200px;
    height:80px;
}

#navbar .navbar-nav #cadastro > a {
    border:1px solid white;
    border-radius: 5px;
    padding: 15px;
}