@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* Reset e padrões */

* { 
   text-decoration: none;
   list-style: none;
   padding: 0px;
   margin: 0px;
   font-family: 'Roboto', sans-serif;
} 
body {
    margin:0 auto;
    width:100%;
    height:auto;
}  

.paragrafos {
    font-size: 1.125em;
    font-weight: 1.6875em;
    color: #020113;
    font-family: 'Roboto', sans-serif;
}
.titulo-banner {
    font-size: 4em;
    font-weight: 6em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.titulo{
    font-size: 2.625em;
    font-weight: 3.9375em;
    color: #020113;
    font-family: 'Roboto', sans-serif;

}
.button {
    background-color: #FFCF26;
    border: none;
    color:#000;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #B58E02;
}

/* navbar */


#navbar {
    position: relative;
    background-color: #0052FB;
    padding: 0.5rem 1rem;
    border-bottom-style: solid;
    border-bottom-color:#f5f7fa;
    border-bottom-width: thin;
  }

#navbar .navbar-nav > li> a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0;
    padding: 1.4rem 1rem 1.6rem;
    color: #555;
    letter-spacing: 0.1em;
    font-family: 'Roboto',sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    border-top: .3rem solid transparent;

}

#navbar .navbar-brand > img {
    object-fit: cover;
    width: 200px;
    height:80px;
}

#navbar .navbar-nav #cadastro > a {
    border:1px solid white;
    border-radius: 5px;
    padding: 15px;
}

/* componente 2 */

.comp-2 {
    background-color: #0052FB;
    display: flex;
    height: 83vh;
    width: 100%;
}

.comp-2 > .esquerda {
    display: flex;
    align-items: flex-end;
}

.comp-2 > .esquerda > img {
    max-width: 90%;
}

.comp-2 > .direita {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* componente 3 */

.comp-3 {
    display: inline-flex;
}

.comp-3 > .direita {
    width: 50%;
}

.comp-3 > .direita > img {
    max-width: 100%;
}

.comp-3 > .esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
    margin-left: 20px;
}

.comp-3 > .esquerda > .interno {
    background: rgba(133, 132, 132,0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.comp-3 > .esquerda > .interno > ul > li {
    padding-left: 50px;
} 

.comp-3 > .esquerda > .interno > button {
    width: 50%;
    margin-left: 20px;
}

