.pasos {
    background-color: #666;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.pasos .platform-numbers h2 {
    color: #F0F0FF;
    font-size: 28px;
    line-height: 145%;
    margin-top: 0px;
    text-align: left;

}

.pasos .platform-numbers .subtitle {
    color: #FFCF26;
}

.pasos .platform-numbers h3 {
    font-size: 18px;
    font: 500;
    letter-spacing: -2%;
    color: #F0F0FF;
    text-align: left;
}

.pasos .platform-numbers .sub-description {
    color: #FFCF26;
    font-size: 13px;
}

.pasos .platform-numbers .description {
    color: #ACACAD;
    font-size: 16px;
}