.content-box {
  background-color: aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .7);
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 24px;
  min-height: 48px;
  position: relative;
  width: 100%;
}

.content-box__content-section {
  font-family: sans-serif;
  border-radius: 0 0 4px 4px;
  border: 1px solid #dedfe0;
  border-top: none;
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
  min-height: 40px;
  width: auto;
}

.smart-list__content{
  text-align: left;
}

.leaderboards__list-header {
  border-bottom: 1px solid rgba(222,223,224,.5);
  margin: 8px 0 16px;
  padding: 16px 24px 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.leaderboards__list-header-count img {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.leaderboards__list-header-count--grandmaster {
  color: #dca917;
}

.leaderboards__list-header-count--master {
  color: #f96517;
}

.leaderboards__list-header-count--expert {
  color: #95628f;
}

.leaderboards__list-header-count--contributor {
  color: #0bf;
}

.leaderboards__list-header-count--novice {
  color: #5ac995;
}

.leaderboards__list-header-count {
  align-items: center;
  /* flex: 0 0 15px 0px; */
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
  vertical-align: middle;
}

.leaderboards__item-wrapper--header {
  padding: 12px 24px 12px 16px;
}

.leaderboards__item-wrapper {
  padding: 8px 24px 8px 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.block-link--bordered {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
  padding: 8px 24px 8px 16px;
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: space-around;
}
