.CursosContainer {
    margin:0 !important;
    padding:0 !important;
    max-width: 100% !important;
    display: flex;
}

.CursosContainer-Row{
    margin:0 !important;
}

.CursosContainer-Courses{
    padding:0 !important;
}