.BannerPrecosEstudante {
    background-color: #666;
    margin-top: 60px;
    display: flex;
    width: 100%;
}

.BannerPrecosEstudante-img img {
    max-width: 100%;
}

.BannerPrecosEstudante-badge-sm {
    text-align: center;
    font-size: 16px;
    color: #F0F0FF;
    background: #040C10;
    padding: 10px;
    border-radius: 50% / 80px;
    max-width: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.BannerPrecosEstudante h2 {
    font-size: 44px;
    text-align: left;
    line-height: 124%;
    color: white;
    margin-bottom: 28px;
}

.BannerPrecosEstudante a {
    margin-top: 20px;
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    color: white;
}