@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.registrations {
    display: block;
    box-sizing: border-box;

}

.col-5 h1 strong {
    color: #0052FB;
}

.companies-registration {
    padding-top: 93px;
    background-color: #EAEFF5;
    padding-bottom: 20px;
}

.companies-registration .container {
    max-width: unset;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
}

.col-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-5>h1 {
    margin-bottom: 20px;
}

.col-5>p {
    color: #6B757D;
    line-height: 184%;
    margin-bottom: 20px;
}

.col-5 ul img {
    width: 16px;
    height: 16px;

}

.col-5 .img-wrapper>img {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}

.text-small {
    color: #ACACAD;
    text-align: center;
    margin: 30px 0;
}

.text-small>strong {
    font: 14px;
    font-weight: 400;
}

.companies-logo {
    text-align: center;
    line-height: 80px;
}

.img-cascade {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -10px;
}

.col-5 .img-cascade img {
    max-width: 275px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;

}

.col-5 .img-cascade .img-first {
    padding-right: 35px;
    text-align: right;
}

.col-5 .img-cascade .img-scnd {
    margin-left: -160px;
    margin-top: -30px;
}

.col-5 .img-cascade .img-trd {
    margin-left: 100px;
    margin-top: -110px;
}

.companies-descricao .col-5-texto {
    padding-left: 10%;
    padding-top: 5%;
}

.companies-descricao {
    margin-bottom: 16px;
}

.companies-descricao .col-5-texto h1,
p {
    margin-bottom: 16px;
}

.companies-descricao .col-5-texto .subtitle {
    color: #0052FB;
    font: 600 18px;
}


.companies-descricao .col-5-texto li {
    line-height: 1.84em;
    font-weight: 600;
}

.companies-descricao .col-5-texto a {
    position: relative;
    top: 40px;
}

.companies-depoimento .container-depoimento {
    max-width: unset;
    display: table;
    background-color: #EAEFF5;
    padding-top: 80px;
}

.companies-depoimento .busca-dev {
    text-align: center;
}

.companies-depoimento  h1 {
    width: 90%;
    position: relative;
    min-height: 1px;
    padding-bottom: 16px;
}

.companies-depoimento li {
    line-height: 1.84em;
    font-weight: 600;
}

.companies-depoimento .button {
    font-size: 12px;
    color: white;
    letter-spacing: 1.2px;
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: #B58E02;
    border-color: #B58E02 !important;
    width:100%;
}

.companies-depoimento .button > img {
    margin-left: 6px !important;
    width: auto !important;
}