
.Panel {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 20px !important;
    padding: 19px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 1px #00000029;
    border: 1px solid #f9f9f9;
    max-width: 95%;
}

.Panel__heading {
    border: none;
    text-align: Left;
    background-color: white;
    padding: 24px 24px 16px 24px;
}

.Panel__heading__text {
    padding-left: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #0052FB;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.Panel__heading>h1 {
    padding-top: 14px;
    padding-left: 14px;
    font-size: 24px;
    color: #040C10;
    text-align: left;
    line-height: 124%;
}

.Panel__body {
    color: #939DA5;
    padding-top: 12px;
}

.Termos p {
    font-size: 10px;
}

.Form .button {
    font-size: 12px;
    color: white;
    letter-spacing: 1.2px;
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: #B58E02;
    border-color: #B58E02 !important;
    width:100%;
}

.Form .button > img {
    margin-left: 6px;
}

.sign-in .main-section-content {
    background-color: #EAEFF5;
    background: #EAEFF5;
}