/* quem somos */

.quem-somos {

    background: #EAEFF5;
    display: flex;
    justify-content: space-between;
}

.container-img {
    vertical-align: top;
    float: right;
}

.container-text {
    top: 25%;
    float: right;
    color: #020113;
}

/* responsividade */

@media (max-width: 768px) {
    .quem-somos {
        display: block;
    }

    .quem-somos img {
        width: 100%
    }
}