@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

.menu {

    background-color: #0052FB;
    padding: 0.5rem 1rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-logo img {
    width: 200px;
    height: 200px;
}

.menu-navbar {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.menu-navbar-item a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 1.4rem 1rem 1.6rem;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    padding: 15px;



}

#cadastro a {
    border: 1px solid white;
    color: #fff;

    border-radius: 5px;
    padding: 15px;
}

@media(max-width:800px) {

    .hamburguer {

        display: block;
        position: relative;

    }
    .nav-toggle:focus{
        outline:none;
    }
    .nav-toggle{
        border: none !important;
        outline: none;
    }
  

    .nav-toggle {
        padding: .5em;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 2em;
        top: 2.5em;
        z-index: 1000;

    }

    .nav-open .nav {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .nav-open .nav-toggle {
        position: fixed;
    }

    .nav-open .hamburguer {
        transform: rotate(.625turn);
        -webkit-transform: rotate(.625turn);
        -moz-transform: rotate(.625turn);
        -ms-transform: rotate(.625turn);
        -o-transform: rotate(.625turn);
    }

    .nav-open .hamburguer::before {
        transform: rotate(90deg) translateX(-10px);
        -webkit-transform: rotate(90deg) translateX(-10px);
        -moz-transform: rotate(90deg) translateX(-10px);
        -ms-transform: rotate(90deg) translateX(-10px);
        -o-transform: rotate(90deg) translateX(-10px);
    }

    .nav-open .hamburguer::after {
        opacity: 0;
    }

    .hamburguer,
    .hamburguer::before,
    .hamburguer::after {
        content: '';
        background-color: white;
        width: 2em;
        height: 3px;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;

        transition: transform 250ms ease-in-out;
        -webkit-transition: transform 250ms ease-in-out;
        -moz-transition: transform 250ms ease-in-out;
        -ms-transition: transform 250ms ease-in-out;
        -o-transition: transform 250ms ease-in-out;

    }

    .hamburguer::before,
    .hamburguer::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;


    }

    .hamburguer::before {
        top: 10px;

    }

    .hamburguer::after {
        bottom: 10px;
    }

    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(133, 132, 132, 0.9);

        z-index: 100;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .menu-navbar {
        flex-direction: column;
        margin: 0 auto;

    }

    .menu-navbar-item {
        margin: 15px;
    }

    .menu-navbar-item a {
        font-size: 1.5em;

    }

    #cadastro a {
        font-size: 1.5em;
        margin: 30px;
    }
}