/* apoiadores */

.apoiadores {
    display: flex;
    justify-content: space-between;
}

.container-img {
    vertical-align: top;
    float: left;
}

.container-text {
    margin-left: 2em;
    top: 25%;
    float: right;
    color: #020113;
}

.apoiadores img {
    margin-right: 0;
    width: 140%;
    margin-left: 30px;
}

/* responsividade */

@media (max-width: 768px){
    .apoiadores {
        display: block;
    }

    .apoiadores img {
        width: 100%;
    }
}
