/* vagas */

.vagas {
    background: #dfdede;
    padding: 1.5rem 2rem;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card-empresas img {
    width: 30%;
}

.card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0px 1.5rem;
    justify-content: center;
    align-items: center;
}

.card-empresas {
    width: 30%;
    display: flex;
    text-align: left;
    background: #fff;
    padding: 1rem;
    margin: 5px;
}

.container-text h2 {
    font-size: 3rem;
}

.card-text a {
    font-size: medium;
}

.vagas h2 {
    text-align: center;
}

.container-text h1, h2 {
    text-decoration: underline;
}

p {
    font-size: 20px;
    line-height: 28px;
}

/* responsividade */

@media (max-width: 768px){

    .container-cards {
        justify-content: center;
    }

    .card-empresas {
        display: block;
    }

    .card-empresas img {
        width: 100px;
        margin: auto;
    }

    .vagas h4, p {
        font-size: medium;
        margin: 1rem;
    }

    .vagas a {
        font-size: medium;
    }

    h1, h2 {
        font-size: xx-large !important;
        text-align: center;
    }
}

@media (max-width: 425px){
    .container-text {
        text-align: center;
    }
}

@media (max-width: 375px){
    .card-empresas {
        width: 46%;
    }
}