/* componente 1 */

.titulo-banner {
    font-size: 62px;
    line-height: 83px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 50px;

}

.titulo_menor {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    margin-bottom: 30px;

}


.comp-1 {
    background-color: #0052FB;
    display: flex;
    height: 83vh;
    width: 100%;

}

.comp1-button {
    display: flex;

}

.esquerda {
    width: 50%;
    display: flex;
    align-items: flex-end;
    margin-left: 120px;

}


img {
    width: 125%;
}

.direita {
    align-items: left;
    padding: 60px 0 0 0;
    max-width: 50%;
    align-items: flex-start;
    justify-content: inherit;
    color: #fff;

}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 200px;
    margin-right: auto;
    margin-left: auto;

}

p {
    margin-top: 0px;

}

/* media queries */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}