@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-size: 62.5%;
}

.skill-container {
    background-color: #fff;
    display: flex;
    height: 83vh;
    width: 100%;
    margin-bottom: -60px;

}


.skill-container-img {
    width: 50%;
}

.skill-container-img img {
    max-width: 75%;
    float: right;
}

.skill-container-text {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: 40px;
}

.skill-container-text li {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

[class^="material-icons"] {
    width: 30px;
    position: relative;
    top: 5px;
    margin-right: 25px;
    fill: #fff;
}

/* responsividade */

@media (max-width: 768px){

.skill-container-img {
    max-width: 40% !important;
    margin: auto;
}

.skill-container-img img{
    max-width: 50% !important;
    margin: auto;
    float: none;
}

.skill-container-text {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-start;
    margin-left: 0px;
    padding-left: 20px;
}

.skill-container {
    display: block;
}

.titulo {
    font-size: xx-large;
    line-height: normal !important;
}

.material-icons {
    font-size: xx-large;
}

.skill-container-text li {
    font-size: large;
}

}

@media (max-width: 425px){
    .titulo {
        font-size: large !important;
    }
}