* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  background-color: #FFCF26;
  width: 200px;
  height: 40px;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #B58E02;
}

.font-blue {
  color: #0052FB;
}
