/* vagas */

.vagas {
    background: #dfdede;
    padding: 1.5rem 2rem;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card-empresas img {
    width: 30%;
}

.card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0px 1.5rem;
    justify-content: center;
    align-items: center;
}

.card-empresas {
    width: 32%;
    display: flex;
    text-align: left;
    background: #fff;
    padding: 1rem;
    margin: 5px;
}

.vagas h2 {
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 28px;
}

/* responsividade */

@media (max-width: 768px){
    .card-empresas {
        display: block;
    }

    .card-empresas img {
        width: 150px;
        margin: auto;
    }

    .vagas h4, p {
        font-size: 1rem;
        margin: 1rem;
    }
}