/* vagas */

.vagas {
    background: #dfdede;
    padding-bottom: 1.5rem;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card-empresas img {
    width: 30%;
}

.card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0px 1.5rem;
    justify-content: center;
    align-items: center;
}

.card-empresas {
    width: 30%;
    display: flex;
    text-align: left;
    background: #fff;
    padding: 1rem;
    margin: 5px;
}
