* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Poppins', sans-serif;
}
.contato {
    display: flex;
    justify-content:center;
    height: 63.5vh;
}
.contato-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: rgba(42, 97, 216, 0.2); */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .25);
    border-radius: 4px;
    width: 100%;
    max-width: 860px;
}
.form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    height:150px;
}

.contato-left {
    display: flex;
    justify-content:center;
    flex-direction: column;
    color: #fff;
    text-align: left;
    width: 100%;
    max-width: 460px;
    height: 100%;
    padding: 30px;
    background: linear-gradient(rgba(17, 39, 58, 0.8),
            rgba(17, 39, 58, 0.8)),
        url("../../../assets/img/skills.png") no-repeat center center;
}

.contato-left h3 {
    color: #d1d1d1;
}


.contato-left p {
    color: #d3d3d3
}
.form-height {

    text-align: center;
    width:80%;
    padding: 30px;
    height: 100%;
    background: #ddd;
}

.form-height h2 {
    font-weight: bold;
    color: rgb(37, 37, 37);
}