@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* reset e padrões */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a {
    color: #000;
}

.buttonYellow {
    background-color: #FFCF26;
    width: 100%;
    height: 40px;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonYellow:hover {
    background-color: #B58E02;
}

.buttonGrey {
    background-color: #4a4a4a;
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonGrey:hover {
    background-color: #EAEFF5;
}

.material-icons {
    font-size: x-large;
}

@media (max-width: 768px){
    .material-icons {
        font-size: x-large;
    } 
}