@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.Header {
    display: grid;
    grid-template-areas: 'logo nav';
    background-color: #0052FB;
    padding: 0.5rem 1rem;
    border-bottom-style: solid;
    border-bottom-color: #f5f7fa;
    border-bottom-width: thin;
}

.Nav {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.Nav>a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0;
    padding: 1.4rem 1rem 1.6rem;
    color: #555;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    border-top: .3rem solid transparent;
}

.Header img {
    margin-left: 100px;
    object-fit: cover;
    width: 200px;
    height: 80px;
}

.Header .Cadastro a {
    border: 1px solid white;
    border-radius: 5px;
    color: #fff !important;
    text-decoration: none !important;
    margin: 0;
    padding: 1rem 1rem 1rem;
    color: #555;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    display: table-cell;

}

.Cadastro {
    height: 100%;
    margin-top: 30px;
}


.Cadastro__menu {
    width: 160px;
    padding: 16px 0;
    list-style: none;
    font-size: 1.4rem;
    background-color: #fff;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    right: 202px;
    top: 84px;
    line-height: 2.4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.Cadastro__menu>a {
    width: 90%;
    color: #000;
    font-size: 1.2rem;
    line-height: 3.6rem;
    text-transform: none;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 8px;
}

.Cadastro__menu>a:hover {
    color: #000 !important;
    background-color: #F0F0FF;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: content-box;
}

.mobile-no {
    display:none !important;
}

.menu-section {
    display: flex;
}

@media(max-width: 768px){

    .Header {
        border: none;
        padding: 30px;
    }

    .Nav, header img {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 30px;
        margin-right: 20px;
        right: 25px;
        top: 15px;
    }

    .menu-toggle-mobile {
        display: none;
        position: absolute;
        width: 40px;
        height: 30px;
        margin-right: 20px;
        right: 25px;
        top: 15px;
    }

    .mobile-yes{
        display: block;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #0052FB;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on .Nav {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    
    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on .menu-toggle-mobile {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle-mobile .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle-mobile .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle-mobile .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }
}