.Componente-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;

}

.Componente-3 h2 {
    font-size: 2rem;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #020113;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;


}

.Carousel-holder {
    margin: 20px 0px 0px 0px;
    margin-left: 12.5%;

}

.Carousel-holder button {
    background-color: white;

}

button:active {
    background: #0052FB !important;
}

button:hover {
    background: #0052FB !important;
}

button:focus {
    background: #0052FB !important;
}