.proposta h1 {
    font: 600 36px;
    text-transform: initial;
    letter-spacing: 2px;
    text-align: left;
    color: white;
    margin-bottom: 20px;
}

.proposta ul {
    list-style-type: none;
    font-size: 16px;
    color: #FFF;
    padding: 0;
    margin: 0px 0 35px;
}

.proposta ul li {
    margin: 10px 0;
    line-height: 1.5em;
}

.proposta__registrar label {
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 8px;
}

.proposta__registrar input {
    width: 100%;
    height: 50px;
    background-color: #202024
}

.proposta__registrar button {
    width: 110%;
    margin-left: -10px;
    margin-top: 33px;
    height: 50px;
    color: #ffffff;
    background-color:  #FFCF26;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 24px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.proposta .Carousel__title
{
width:100%;
text-align: center;
font-size: 16px;
color: white;
margin-bottom: 12px;
margin-top: 36px;
}

.CarouselCompanies button {
    background-color: transparent;
    box-shadow: none;
    color:white;
}

.CarouselCompanies button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    color:white;
}

.CarouselCompanies button:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    color:white;
}

.ImgHomen {
    height: 500px;
    width: 500px;
}

.form-group label {
    color: #ffffff;
    font-size:14px;
}

.form-group input {
    border-color: transparent;
    width: 90%;
    height: 40px;
    background-color: #202024;
    color: #C7CBCF;
}

.input-icon .icon {
    position: absolute;
    padding: 38px 13px 0;
}

.input-icon input {
    padding-left: 45px;
}

.next-container {
    width: 95%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 1.428571429;
    color: #939DA5;
}

.next-container a {
    padding-right: 25px;
}

.address-container {
    width: 93%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.address-container a {
    color: #ffffff !important;
    font-size:12px;
}

.address-container input {
    padding-left: 15px;
}

.region-container {
    margin-top: 12px;
    width: 93%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.region-container a {
    color: #ffffff !important;
    font-size:12px;
}

.region-container input {
    padding-left: 15px;
}

.input-icon .about {
    height: 80px;
}

.mybutton {
    background-color: #FFCF26;
    width: 90%;
    height: 50px;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
}

