* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.titulo-banner {
  font-size: 62px;
  line-height: 83px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-bottom: 50px;
}

.titulo {
  font-size: 36px;
  line-height: 44px;
  color: #020113;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;

}

.button {
  background-color: #FFCF26;
  width: 200px;
  height: 40px;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #B58E02;
}

.font-blue {
  color: #0052FB;
}

/* responsividade */

@media (max-width: 768px){
  .titulo {
    font-size: 26px;
  }

  .titulo-banner {
    font-size: 30px;
    line-height: 30px;
  }
}