@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.skill-container {
    background-color: #fff;
    display: flex;
    height: 83vh;
    width: 100%;
}

.skill-container-img {
    width: 50%;
}

.skill-container-img img {
    max-width: 100%;
}



.skill-container-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
}

