.Information {
    background-color: #EAEFF5;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;

}

.Information .Titulo {
    font-size: 36px;
    line-height: 44px;
    color: #020113;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;


}

.Information .Button {
    background-color: #FFCF26;
    width: 200px;
    height: 40px;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 32px 2px;
    cursor: pointer;

}

.Information .Button:hover {
    background-color: #B58E02;

}

.Information .paragrafo {
    font-weight: initial;
    font-size: 16px;
    line-height: 24px !important;
    color: #020113;
    font-family: 'Roboto', sans-serif;

}


.Information-container {
    max-width: 80%;
    display: flex;

}

.Information-text {
    max-width: 50%;
    padding: 40px;
    line-height: 24px;

}

.Information-img {
    width: 30%;
    padding: 20px;
    display: flex;
    align-items: center;

}