.information {
    background-color: #EAEFF5;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.information-container {
    max-width: 80%;
    display: flex;
}

.information-text {
    max-width: 50%;
    padding: 40px;
}

.information-img {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
}

